<div class="page-header">
  <h1>Welcome</h1>
</div>

<div class="jumbotron">
  <p>Tiny Vault-Tech Bank</p>
  <% if !user_signed_in? %>
    <p><%= link_to "Sign in", new_user_session_path,:class=>"btn btn-lg btn-success" %></p>
  <% else %>
  	<p><%= link_to fa_icon("2x sign-out", :text=>"Logout"), destroy_user_session_path, :method=>"delete", :class=>"btn btn-danger" %></p>
  <% end %>
</div>