<%= simple_form_for(@transaction, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :account_from_id, as: :select, :collection => [current_user.account.code], readonly: true, include_blank: false, :label => "Account from" %>
    <%= f.input :account_to_id, as: :select, :collection => Account.where.not(:user_id => current_user.id).collect {|r| [ r.user.email  + ' - ' + r.code, r.id ] }, include_blank: false, :label => "Account to"  %>
    <%= f.input :amount %>

    <%= f.input :status_id, :as => :hidden %>
    <%= f.input :user_id, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
