<script type="text/javascript">
function localize_time(element_id, t)
{
  var d = moment.utc(t, "YYYY-MM-DD HH:mm");
  document.getElementById(element_id).innerHTML = moment(d.toDate()).format("DD.MM.YYYY HH:mm");
}
</script>


<div class="page-header">
  <h1>Transactions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Account from</th>
        <th>Account to</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @transactions) do |transaction| %>
        <td><%= Account.find(transaction.account_from_id).blank? ? 'Not defined' : Account.find(transaction.account_from_id).code %></td>
        <td><%= Account.find(transaction.account_to_id).blank? ? 'Not defined' : Account.find(transaction.account_to_id).code %></td>
        <td><%= transaction.amount %></td>
        <td><div id="<%= transaction.id.to_s %>"><script type="text/javascript">localize_time("<%= transaction.id.to_s %>", "<%= transaction.updated_at.strftime('%Y-%m-%d %H:%M') %>")</script></div></td>
        <td><%= TransactionStatus.find(transaction.status_id).blank? ? 'Not defined' : TransactionStatus.find(transaction.status_id).name %></td>
      <% end %>
    </tbody>
  </table>
</div>
