<%# add navigation links to this file %>
<% if user_signed_in? %>

	<li>
    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
      <%= fa_icon "2x cog",:text=>"Accounts" %>
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><%= link_to "Accounts", accounts_path %></li>
    </ul>
	</li>

	<li>
    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
      <%= fa_icon "2x cog",:text=>"Operations" %>
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    <li><%= link_to "Transactions", show_transactions_list_account_path(current_user.account) %></li>
	    <li class="divider"></li>
  	  <li><%= link_to "Send money", create_transaction_account_path(current_user.account) %></li>
    </ul>
	</li>

	<li><%= link_to fa_icon("2x sign-out",:text=>"Logout " + current_user.email), destroy_user_session_path, :method=>"delete" %></li>

<% end %>
