<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :code %>
    <%= f.input :balance %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
