<div class="page-header">
  <h1>User Accounts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Code</th>
        <th>Balance</th>
        <th>Blocked amount</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @accounts) do |account| %>
        <td><%= account.user.email %></td>
        <td><%= account.code %></td>
        <td><%= account.balance.blank? ? 0.00 : account.balance.round(2) %></td>
        <td><%= account.blocked_amount.blank? ? 0.00 : account.blocked_amount.round(2) %></td>
        <td><%= link_to 'Show transactions', show_transactions_list_account_path(account) %></td>
        <td><%= link_to 'Send money', create_transaction_account_path(account) %></td>
      <% end %>
    </tbody>
  </table>
</div>
