<div class="page-header">
  <%= link_to accounts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_account_path(@account), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show account</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @account.user_id %></dd>

  <dt>Code:</dt>
  <dd><%= @account.code %></dd>

  <dt>Balance:</dt>
  <dd><%= @account.balance %></dd>

</dl>
